@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  margin: 0;
}

img  {
  width: 500px;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.header-logo {
  font-size: 24px;
}

li {
  list-style-type: none;
}

.links {
  display: flex;
  gap: 10px;
  align-items: center;
}

ul {
  padding: 0;
}


.header-container, .hero-container {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  color: #F9FAF8;
  
}

/* .hero-container {
  display: flex;
} */





.hero-main-text {
  font-size: 48px;
  font-weight: 900;

}

.hero-button {
  background-color: #3882F6;
  border: 0;
  border-radius: 8px;
  font-weight: 800;
  font-size: 18px;
  padding: 10px 40px;
  color: #F9FAF8;
}


/* content */

.content-container, .header-container, .hero-container, .signup-container {
  padding: 30px;
}

.content-text {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.content-images {
  display: flex;
  gap: 20px;
}

.content-img_01, .content-img_02, .content-img_03, .content-img_04 {
  
  background-position: 20% ;
  background-size:cover ;
  border-radius: 10px;
  height: 400px;
  min-width: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.content-img_01 {
  background-image: url(./img/info-01.jpg);
}

.content-img_02 {
  background-image: url(./img/info-02.jpg);
}

.content-img_03 {
  background-image: url(./img/info-03.jpg);
}

.content-img_04 {
  background-image: url(./img/info-04.jpg);
}

/* quote */

.quote-container {
  background-color: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  text-align: center;
  padding: 100px;
}

.signup-box {
  background-color: #3882F6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding:  50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F9FAF8;
  

}

.signup-button {
  background-color: #3882F6;
  border-radius: 8px;
  font-weight: 800;
  font-size: 18px;
  padding: 10px 40px;
  color: #F9FAF8;
  border-color: #F9FAF8;
  
}

.signup-title {
  font-size: 24px;
  margin: 0;

}

.footer-container {
  text-align: center;
  color: #F9FAF8;
  background-color: #1F2937;
  padding: 30px;
}