@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

img  {
  width: 500px;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}